<div class="home">
  <div>
    <a routerLink="/home"><img class="content" src="/images/content1.webp" alt=""></a>
    <a routerLink="/home"><img class="content" src="/images/content2.webp" alt=""></a>
  </div>
  <div>
    <a routerLink="/home"><img class="content" src="/images/content3.webp" alt=""></a>
    <a routerLink="/home"><img class="content" src="/images/content4.webp" alt=""></a>
    <a routerLink="/home"><img class="content" src="/images/content5.webp" alt=""></a>
  </div>
  <div>
    <a routerLink="/home"><img class="content" src="/images/content6.webp" alt=""></a>
    <a routerLink="/home"><img class="content" src="/images/content7.webp" alt=""></a>
  </div>
</div>
