div {
  background-color: rgb(124, 206, 0);
  filter: drop-shadow(0 0 0.5em darkgreen);
  display: flex;
  width: 3em;
  padding: 0.7em;
  margin: 1em;
  justify-content: center;
  border-radius: 0.7em;
  transition: 0.4s;
}

div a {
  color: white;
  text-decoration: none;
}

div:hover {
  transform: scale(1.1);
  transition: 0.4s;
  background-color: black;
}
